{% extends 'base.html' %}

{% load static %}

{% block title %}Acerca de{% endblock %}

{% block main_content %}
    <div class="container-fluid logo py-4">
        <div class="card transparente my-4">
            <div class="card-body text-center">
                <h1 class="card-title">OnlyFlans</h1>
                <div class="card-text">
                    <p>OnlyFlans es un sitio para que todos puedan encontrar el flan que les guste.<br>
                        Además de compartir fotos de sus postres favoritos<br>
                        Si te gusta tanto los flanes como a nosotros, no dudes en unirte a nuestra flantástica misión<br>
                        de llevar los flanes a todos los rincones del mundo.</p>
                </div>
            </div>
        </div>        
    </div>
{% endblock %}
