{% extends 'base.html' %}

{% load static %}

{% block title %}Contacto{% endblock %}

{% block main_content %}
    <div class="container my-4">
        <!-- col-12 col-md-6 offset-0 offset-md-3 mt-4 mb-4  -->
        <div class="logo">
            <h3 class="text-center py-3">
                Contáctanos
            </h3>
            <div class="px-4">
                <form action="{% url 'contact' %}" method="post">
                    {% csrf_token %}
                    <!-- {{ form.non_field_errors }}                     -->
                    {{ form.as_p }}
                    <!--<div class="fieldWrapper">
                        {{ form.customer_name.errors }}
                        <label for="{{ form.customer_name.id_for_label }}" class="form-label">
                            {{ form.customer_name.label_tag }}
                        </label>
                        {{ form.customer_name }}
                    </div>
                    <div class="fieldWrapper">
                        {{ form.customer_email.errors }}
                        <label for="{{ form.customer_field.id_for_label }}" class="form-label">
                            {{ form.customer_email.label_tag }}
                        </label>
                        {{ form.customer_email }}
                    </div>
                    <div class="fieldWrapper">
                        {{ form.message.errors }}
                        <label for="{{ form.message.id_for_label }}" class="form-label">
                            {{ form.message.label_tag }}
                        </label>
                        {{ form.message }}
                    </div>-->
                    <button id="enviarContacto" class="my-3" type="submit">Enviar</button>
                </form>
            </div>
        </div>
    </div>
        <!-- 
        <h1>Contacto</h1>
        <form action="/contacto/" method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Submit">
        </form>
    </div> -->
{% endblock %}