.nvb{
    background-color: darkorange;
}

#logo-nvb{
    height: 50px;
    width: 200px;
}

.transparente{
    background-color: rgb(255,255,255,0.5)  
}

.logo {
    background-color: gold;
}

.redondeado{
    border-radius: 10px;
}
